<h1><%= @article.title %></h1>
<h4><%= @article.content %></h4>
<h4><%= link_to "edit #{@article.title}", "#{@article.id}/edit" %></h4>
<h4><%= link_to "delete #{@article.title}", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}  %></h4>
<%= link_to "articles", "/articles" %>